<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWi5U2U_ESgHx8IMKxxu_K5m4bL1EV9_4</string>
	<key>GCM_SENDER_ID</key>
	<string>145086556209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobquest</string>
	<key>PROJECT_ID</key>
	<string>assignmentquest-46fb7</string>
	<key>STORAGE_BUCKET</key>
	<string>assignmentquest-46fb7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145086556209:ios:1ffa3ff51f09b894728d10</string>
</dict>
</plist>